.main-card {
  max-width: 400px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.main-card {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.header-image {
  background-image: url('https://lh3.googleusercontent.com/-44tO6UeXvmo/ToS9t3jufJI/AAAAAAAATPg/3gqv08uC5qgA2S2q1hv7V_vjBgd1trSWACEwYBhgLKs4DAMBZVoBREp2Js5FkxNjlmbnvSS5jso4KmU4k55BX2rPyk7K_L78fKAYdyzWfl-w0MAFvDCiRsQFPQW1GU-fcI0WtnD1_PD3lR93UmpSV3__g6U8f1ch7673XKYWPSFRjYiKCeAp0FPcHV7GAxOYxmCGtNCNosa7r-chP-N05ZBn4_wuU-WoTFBrpCf4WBww9GVxNjL_1N1eBrWUA3D1vSMvrCL0D13iNekADY70fiOVA3zAVnxgn2ovkrySvlBIFg5GQVS4ewDLDiA3-Pzwg25okU7OUuEZQGemX7sU73kxQC5ISSJVXeBAppZFw-5svZ8Kvrt7isc_oeu1vRFQXGkXN4bQIz0ekadyN0yB_yn_MOZ_PCZUU4HFV3yyb7JYpQEGIevamgz-m-L3jnSuXF6WCG-ASe8_qBeG06ek_wXT9mh6I1t-q2ccQQ4yAYw4hoJ41Rdd4-fmO9EwAWcnf_MgXWyBhnxaH437b8vjU-31anOLMDo77NA2LThiotvpcK-nA3ucfJCTT5rS7PdIPQOU9rvve-XYd3lWOaDUTuP9JCC1DQNW3CwhxIwr39Emv52qh4xllg5_GnvjQWydmRqryRm5HRFj3Ob5zNsStMN-7_vMF/w140-h139-p/P1080901.JPG');
  background-size: cover;
}
