<div class="jumbotron card card-image">
  <p align="center" id="jumbotron-text">
    J'ai décidé de commencer une formation afin de me reconvertir en tant que developpeur web !<br/>
    J'ai pensé ce site comme un excercice utile afin de me présenter moi, ainsi que les compétences que j'ai acquis.
  </p>
  <div class="header-btn">
    <div class="col-md-6 col-xs-12 text-right">
      <button type="button" class="btn btn-outline-primary">Mes connaissances</button>
    </div>
    <div class="col-md-6 col-xs-12 text-left">
      <button type="button" class="btn btn-outline-primary"><a href="/#mecontacter">Me contacter</a></button>
    </div>
  </div>
</div>
<div class="main-card">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Olivier BISSON</mat-card-title>
      <mat-card-subtitle>"Futur web developper ?"</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://lh3.googleusercontent.com/-44tO6UeXvmo/ToS9t3jufJI/AAAAAAAATPg/3gqv08uC5qgA2S2q1hv7V_vjBgd1trSWACEwYBhgLKs4DAMBZVoBREp2Js5FkxNjlmbnvSS5jso4KmU4k55BX2rPyk7K_L78fKAYdyzWfl-w0MAFvDCiRsQFPQW1GU-fcI0WtnD1_PD3lR93UmpSV3__g6U8f1ch7673XKYWPSFRjYiKCeAp0FPcHV7GAxOYxmCGtNCNosa7r-chP-N05ZBn4_wuU-WoTFBrpCf4WBww9GVxNjL_1N1eBrWUA3D1vSMvrCL0D13iNekADY70fiOVA3zAVnxgn2ovkrySvlBIFg5GQVS4ewDLDiA3-Pzwg25okU7OUuEZQGemX7sU73kxQC5ISSJVXeBAppZFw-5svZ8Kvrt7isc_oeu1vRFQXGkXN4bQIz0ekadyN0yB_yn_MOZ_PCZUU4HFV3yyb7JYpQEGIevamgz-m-L3jnSuXF6WCG-ASe8_qBeG06ek_wXT9mh6I1t-q2ccQQ4yAYw4hoJ41Rdd4-fmO9EwAWcnf_MgXWyBhnxaH437b8vjU-31anOLMDo77NA2LThiotvpcK-nA3ucfJCTT5rS7PdIPQOU9rvve-XYd3lWOaDUTuP9JCC1DQNW3CwhxIwr39Emv52qh4xllg5_GnvjQWydmRqryRm5HRFj3Ob5zNsStMN-7_vMF/w140-h139-p/P1080901.JPG" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        J'ai commencé le développement pour "dépanner" un ami qui souhaitait créer une boutique en ligne. 
        Pour une conception plus simple et rapide, je me suis d'abord orienté vers un CMS et j'ai choisi d'utiliser JOOMLA.<br/>
        Le développement n'était alors qu'un passe temps. 
        Aussi après avoir mis en place ce premier site, j'ai tenté d'expliquer le fonctionnement à mon ami afin qu'il reprenne la gestion au quotidien. 
        Cela c'est très vite avéré ardu et j'ai du m'orienté vers la solution Wordpress / Woocommerce.</p>

      <p>
        Après cette première expérience, je me suis découvert une passion pour le developpement et j'ai continué 
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--   <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>

<mat-divider></mat-divider>

<mat-tab-group id="monCV">
  <mat-tab label="Formations">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile *ngFor="let training of trainings">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{training.payload.doc.data().nom}}</mat-card-title>
            <mat-card-subtitle>{{training.payload.doc.data().employer}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{training.payload.doc.data().startDate.toDate()| date: 'dd/MM/yyyy'}} -
            {{training.payload.doc.data().endDate.toDate()| date: 'dd/MM/yyyy'}}
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Experiences">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let experience of experiences">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{experience.payload.doc.data().responsabilities}}</mat-card-title>
            <mat-card-subtitle>{{experience.payload.doc.data().employer}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{experience.payload.doc.data().startDate.toDate()| date: 'dd/MM/yyyy'}}
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!--<button mat-button>LIKE</button>
        <button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Réalisations">
    <mat-grid-list cols="3" rowHeight="300px">
      <mat-grid-tile *ngFor="let production of productions">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{production.payload.doc.data().name}}</mat-card-title>
            <mat-card-subtitle>URL : <a href="{{production.payload.doc.data().url}}"
                target="_blank">{{production.payload.doc.data().siteName}}</a>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Informations utiles :
            <ul>
              <li>Technologies : Wordpress</li>
              <li>Date de lancement : 26 mai 2016</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="mat-raised-button"><a href="{{production.payload.doc.data().url}}"
                target="_blank">Aller sur le site</a></button>
          </mat-card-actions>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Hobbies"> Content 3 </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>

<div id="mecontacter" class="mecontacter">
  <div class="formGroup">
    <h2>Contact</h2>
    <p>N'hésitez pas à me contacter en passant par le formulaire de Contact</p>
  </div>

  <form [formGroup]="sendEmailForm">
    <div class="contactForm">
    <div class="formGroup">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="nom">
      </mat-form-field>
    </div>
    
    <div class="formGroup">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email">
      </mat-form-field>
    </div>
    
    <div class="formGroup">
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea placeholder="Message" matInput></textarea>
      </mat-form-field>
    </div>
      <button type="button" class="btn btn-primary">Envoyer un email</button>
      </div>
  </form>
</div>
