
.main-card {
  max-width: 400px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.main-card {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.header-btn {
  margin-top: 30px;
}

.jumbotron {
  background-image: url('./../img/developer-home.jpg');
  background-size: auto, 300px, center;
  background-repeat: no-repeat;
  height: 300px;
}
#jumbotron-text {
    color: rgb(248, 203, 203);
}
